git init
git add .
git commit -m "First commit: ForgeBurger com painel de cozinha e link do WhatsApp"
git branch -M main
git remote add origin https://github.com/guilhermefranqueira35-hash/ForgeBurguer.git
git push -u origin main
